/* 
  This style sheet loads slightly faster than the React css,
  good to remove flashes of content without styling (such
  as the white flashbang before loading a dark theme.
*/

:root {
  color-scheme: dark light;
}

body .Home {
  background-image: url('src\pages\images\pawprints.png');
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 2400px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f2f2f2;
}
.navbar a {
  margin-left: 16px;
  padding: 4px;
}
.navbar a:hover {
  color: #ff0000;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

body {
  background-color: #232323;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}
